<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Your Practice Ideas</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.name %> - <%= r.descript %><br />
            Time range: <%= r.min %> - <%= r.max %> minutes<br />
            Instrument to be used: <%= r.instrument %> Category of practice: <%= r.category %></li><br  />
    <% }); %>
</ul>

</div>

</body>
</html>
